<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>--include</key>
	<array>
		<string>Documentation</string>
	</array>
	<key>--index-desc</key>
	<array>
		<string>Documentation/index.markdown</string>
	</array>
</dict>
</plist>
