// --------------------------------------------------------------------------
//  Copyright 2012 Sam Deane, Elegant Chaos. All rights reserved.
//  This source code is distributed under the terms of Elegant Chaos's
//  liberal license: http://www.elegantchaos.com/license/liberal
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// Deployment
// --------------------------------------------------------------------------

INSTALL_PATH = $(HOME)/Applications

// --------------------------------------------------------------------------
// Architectures
// Default to 64-bit only with the latest SDK.
// --------------------------------------------------------------------------

SDKROOT = macosx
ARCHS = $(ARCHS_STANDARD_64_BIT)


UNIT_TEST_FRAMEWORK_PATH = "$(DEVELOPER_LIBRARY_DIR)/Frameworks"