// --------------------------------------------------------------------------
//  Copyright 2012 Sam Deane, Elegant Chaos. All rights reserved.
//  This source code is distributed under the terms of Elegant Chaos's
//  liberal license: http://www.elegantchaos.com/license/liberal
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// Build Options
// --------------------------------------------------------------------------

COMBINE_HIDPI_IMAGES = YES

// --------------------------------------------------------------------------
// Deployment
// --------------------------------------------------------------------------

INSTALL_PATH = $(HOME)/Applications

// --------------------------------------------------------------------------
// Architectures
// --------------------------------------------------------------------------

ARCHS = $(ARCHS_STANDARD_32_64_BIT)
SDKROOT = macosx


UNIT_TEST_FRAMEWORK_PATH = "$(DEVELOPER_LIBRARY_DIR)/Frameworks"