// --------------------------------------------------------------------------
//  Copyright 2012 Sam Deane, Elegant Chaos. All rights reserved.
//  This source code is distributed under the terms of Elegant Chaos's
//  liberal license: http://www.elegantchaos.com/license/liberal
// --------------------------------------------------------------------------

#include "ECRelease.xcconfig"
#include "ECMacShared.xcconfig"

// --------------------------------------------------------------------------
// Build Options
// --------------------------------------------------------------------------

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

// --------------------------------------------------------------------------
// Deployment
// --------------------------------------------------------------------------

COPY_PHASE_STRIP = YES

// --------------------------------------------------------------------------
// GCC 4.2 Code Generation
// --------------------------------------------------------------------------

GCC_ENABLE_FIX_AND_CONTINUE = NO

// --------------------------------------------------------------------------
// GCC 4.2 Warnings
// --------------------------------------------------------------------------

GCC_WARN_UNINITIALIZED_AUTOS = YES

// --------------------------------------------------------------------------
// User Defined
// --------------------------------------------------------------------------

ZERO_LINK = NO
