// --------------------------------------------------------------------------
//  Copyright 2012 Sam Deane, Elegant Chaos. All rights reserved.
//  This source code is distributed under the terms of Elegant Chaos's
//  liberal license: http://www.elegantchaos.com/license/liberal
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
// Build Options
// --------------------------------------------------------------------------


// --------------------------------------------------------------------------
// Compiler Version
// --------------------------------------------------------------------------

GCC_VERSION = com.apple.compilers.llvm.clang.1_0

// --------------------------------------------------------------------------
// Linking
// --------------------------------------------------------------------------

KEEP_PRIVATE_EXTERNS = NO

// --------------------------------------------------------------------------
// Code Generation
// --------------------------------------------------------------------------

GCC_SYMBOLS_PRIVATE_EXTERN = NO

// --------------------------------------------------------------------------
// Deployment
// --------------------------------------------------------------------------

SKIP_INSTALL = YES

// --------------------------------------------------------------------------
// Search Paths
// --------------------------------------------------------------------------

ALWAYS_SEARCH_USER_PATHS = NO

// --------------------------------------------------------------------------
// By default, use standard pattern for prefix
// --------------------------------------------------------------------------

GCC_PREFIX_HEADER = Prefix/$(CONFIGURATION).pch
GCC_PRECOMPILE_PREFIX_HEADER = YES
PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = YES

// --------------------------------------------------------------------------
// Standard Warnings
// --------------------------------------------------------------------------

WARNING_CFLAGS = -Weverything -Wno-unused-macros
GCC_TREAT_WARNINGS_AS_ERRORS = YES
